@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap");
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Jost", sans-serif;
  color: #27300f;
}

.header {
  max-width: 1440px;
  margin: 0 auto 4.6rem;
  padding: 4rem 15px 0 15px;
  display: flex;
  align-items: center;
  gap: 12rem;
}
.header__nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  gap: 4.8rem;
}
.header__link {
  color: #27300f;
  text-decoration: none;
  transition: 0.3s;
}
.header__link:hover {
  color: #d26a22;
}
.header__tel {
  color: #27300f;
  font-weight: 500;
  text-decoration: none;
  padding-left: 10rem;
  transition: 0.3s;
}
.header__tel:hover {
  color: #d26a22;
}
.header__cart {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 1px solid #d26a22;
  background-color: #d26a22;
  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.7rem 1.5rem;
  position: relative;
  transition: 0.3s;
}
.header__cart:hover {
  background-color: #27300f;
  border: 1px solid #27300f;
  cursor: pointer;
}
.header__counter {
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  top: 0.7rem;
  right: 0.55rem;
}

.logo {
  display: block;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12.3rem;
  height: 3.2rem;
}
.logo__footer {
  width: 18rem;
  height: 6rem;
  margin-top: 1rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  background-image: url(../images/main.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 187px;
  overflow-x: hidden;
  z-index: 0;
}
.main__text {
  padding-top: 18.4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main__item {
  margin-left: 12rem;
  max-width: 378px;
  margin-top: 3.8rem;
}
.main__link {
  margin-top: 5.1rem;
}
.main__flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.main__cover {
  flex-basis: 763px;
  height: 763px;
  border: 1px solid rgba(39, 48, 15, 0.4);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main__line {
  width: 658px;
  height: 658px;
  border: 1px solid rgba(39, 48, 15, 0.4);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__image_shadow {
  width: 92%;
  border-radius: 100%;
  box-shadow: 1px 6px 20px 0 rgba(39, 48, 15, 0.2);
}
.main__image {
  width: 100%;
  height: 100%;
}
.main__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  color: #27300f;
  text-align: left;
  transition: 0.3s;
}
.main__btn:hover::before {
  background-color: #d26a22;
  box-shadow: 0 0 0 4px #fff, 0 0 0 5px #d26a22;
  cursor: pointer;
  transition: 0.1s;
}
.main__btn::before {
  content: "";
  background-color: #27300f;
  width: 11px;
  height: 11px;
  box-shadow: 0 0 0 4px #fff, 0 0 0 5px #27300f;
  border-radius: 100%;
  position: absolute;
}
.main__btn_1 {
  top: 43px;
  left: 67px;
}
.main__btn_1::before {
  top: 26px;
  left: 83px;
}
.main__btn_2 {
  top: 192px;
  right: 1px;
}
.main__btn_2::before {
  top: 20px;
  right: 89px;
}
.main__btn_3 {
  bottom: -46px;
  right: 244px;
}
.main__btn_3::before {
  bottom: 53px;
  right: 30px;
}
.main__food {
  display: block;
  color: rgba(39, 48, 15, 0.8);
  line-height: 2.7rem;
}
.main__cucumber {
  position: absolute;
  top: -50px;
  left: 681px;
  width: 86px;
  height: 92px;
  z-index: -1;
}
.main__avocado {
  position: absolute;
  top: 43px;
  right: -17px;
  width: 183px;
  height: 194px;
  z-index: -1;
}
.main__tomato {
  position: absolute;
  bottom: 11.5rem;
  right: 11.1rem;
  width: 11rem;
  z-index: -1;
}
.main__pepper {
  position: absolute;
  top: 400px;
  left: 28px;
  width: 86px;
  height: 72px;
  z-index: -1;
}
.main__beans {
  position: absolute;
  bottom: 166px;
  left: 0;
  width: 93px;
  height: 113px;
}

.title {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 8rem;
  margin: 0;
}
.title__span {
  font-style: italic;
}
.title_block .title__span {
  display: block;
  line-height: 7rem;
}

.description {
  line-height: 1.5;
  margin: 0;
}
.description_size-s {
  font-size: 1.8rem;
}
.description_size-m {
  font-size: 2.4rem;
}
.description_padding-bottom {
  padding-bottom: 25px;
}

.link {
  color: #fff;
  text-transform: uppercase;
  padding: 2.4rem 4.2rem;
  background-color: #d26a22;
  box-shadow: 0 0.9rem 1rem 0.3rem #d26a22, 20%;
  text-decoration: none;
  border-radius: 3.9rem;
  display: inline-block;
  letter-spacing: 0.13rem;
  border: none;
  transition: 0.3s;
}
.link:hover {
  background-color: #bf601f;
}
.link_min {
  letter-spacing: 0.08rem;
  padding: 18px 34px;
  font-size: 1.4rem;
  box-shadow: 0 10px 11.31px 1.69px #d26a22, 0.15;
}
.link_max {
  padding: 2.4rem 5.2rem;
}

.offer {
  background-image: url(../images/offer.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 1.2rem;
  padding-bottom: 12.8rem;
}
.offer__text {
  margin-top: 6.1rem;
  max-width: 70rem;
}

.slider {
  overflow: hidden;
  padding-top: 100px;
}

.swiper {
  overflow: initial;
}
.swiper-slide {
  border: 1px solid rgba(39, 48, 15, 0.4);
  padding: 4rem 3.7rem;
  border-radius: 2rem;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}
.swiper-slide_white {
  height: 518px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s;
}
.swiper-slide_white:hover .swiper-slide__hover {
  height: 233px;
  opacity: 1;
  transition: 0.3s;
}
.swiper-slide_white:hover::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.55);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 2rem;
  z-index: -1;
}
.swiper-slide:hover {
  box-shadow: 0 0 0 2px rgba(39, 48, 15, 0.4) inset;
}
.swiper-slide-1 {
  background-image: url("../images/bottle-milk.png");
}
.swiper-slide-2 {
  background-image: url("../images/pasta.png");
}
.swiper-slide-3 {
  background-image: url("../images/steaks.png");
}
.swiper-slide-4 {
  background-image: url("../images/bottle-milk.png");
}
.swiper-slide-5 {
  background-image: url("../images/catalog/egg.png");
}
.swiper-slide-6 {
  background-image: url("../images/catalog/cheese.png");
}
.swiper-slide-7 {
  background-image: url("../images/catalog/yogurt-bluberry.png");
}
.swiper-slide-8 {
  background-image: url("../images/catalog/cottage-cheese.png");
}
.swiper-slide-9 {
  background-image: url("../images/catalog/mocarela.png");
}
.swiper-slide__description {
  min-height: 50px;
  max-width: 297px;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
}
.swiper-slide__price {
  font-size: 2.4rem;
  margin-bottom: 3.4rem;
}
.swiper-slide__title {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 3rem;
  color: #27300f;
  margin-bottom: 0;
}
.swiper-slide__hover {
  height: 0;
  opacity: 0;
}
.swiper-slide__text {
  color: rgba(39, 48, 15, 0.7);
  line-height: 1.5;
  max-width: 263px;
  margin-top: 2.5rem;
  margin-bottom: 3.4rem;
}
.swiper-slide__link {
  text-decoration: none;
  color: #27300f;
  opacity: 0.8;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  gap: 2rem;
  align-items: center;
  transition: 0.3s;
}
.swiper-slide__link:hover {
  opacity: 1;
}
.swiper-slide__link::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url("../images/plus.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slide__cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 320px;
  text-align: center;
}
.swiper-slide__image {
  height: 100%;
  width: 100%;
  max-width: 351px;
  object-fit: contain;
}
.swiper-slide__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-pagination {
  display: none;
}
.swiper-button-prev, .swiper-button-next {
  top: -7%;
  opacity: 40%;
  transition: 0.3s;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  opacity: 100%;
}
.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  left: initial;
  background-image: url("../images/arrow-prev.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  right: 72px;
}
.swiper-button-next {
  background-image: url("../images/arrow-next.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  right: -9px;
}

.counter {
  display: flex;
  align-items: center;
}
.counter__btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #27300f;
  border-radius: 100%;
  background-color: transparent;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.counter__btn_min {
  width: 40px;
  height: 40px;
}
.counter__minus {
  pointer-events: none;
  border: 1px solid #27300f;
  background-image: url("../images/minus-counter.svg");
  background-size: 14px 14px;
  opacity: 0.4;
  font-size: 2.4rem;
}
.counter__plus {
  background-image: url("../images/plus-counter.svg");
  background-size: 14px 14px;
}
.counter__input {
  text-align: center;
  width: 46px;
  border: none;
  padding: 0;
}
.counter__input_min {
  width: 3.3rem;
}

.about {
  padding-bottom: 19rem;
  padding-top: 3.1rem;
}
.about__box {
  display: flex;
  justify-content: flex-end;
  gap: 26rem;
  margin-top: 1rem;
}
.about__text {
  padding-top: 9rem;
  max-width: 60rem;
}
.about__list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  font-family: "Cormorant", serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  margin: 0;
}
.about__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about__item::before {
  content: "";
  display: block;
  width: 85px;
  height: 85px;
  border: 1px solid rgba(39, 48, 15, 0.4);
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 1.7rem;
}
.about__item_health::before {
  background-image: url("../images/fruits.svg");
  background-size: 43px 45px;
}
.about__item_traditions {
  margin-left: 9rem;
}
.about__item_traditions::before {
  background-image: url("../images/traditional.svg");
  background-size: 40px 40px;
}
.about__item_goods {
  margin-left: 7.1rem;
}
.about__item_goods::before {
  background-image: url("../images/good.svg");
  background-size: 46px 46px;
}

.trends {
  margin-bottom: 18.3rem;
}
.trends__text {
  padding-top: 3rem;
}
.trends__slider {
  padding-top: 84px;
}

.category {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 8.8rem;
  margin-bottom: 5rem;
}
.category__item {
  flex-basis: 230px;
  text-align: center;
}
.category__link {
  color: #27300f;
  text-decoration: none;
  border: 1px solid rgba(39, 48, 15, 0.5);
  padding: 2.4rem 0;
  border-radius: 4rem;
  display: block;
  font-size: 1.8rem;
  transition: 0.3s;
}
.category__link:hover {
  border: 1px solid rgba(210, 106, 34, 0.5);
  color: #d26a22;
}

.catalog {
  margin-bottom: 13.2rem;
}
.catalog__btn {
  color: rgba(39, 48, 15, 0.8);
  border: none;
  background-color: transparent;
  display: flex;
  gap: 2rem;
  letter-spacing: 1px;
  margin: 6rem auto;
  text-transform: uppercase;
  align-items: center;
}
.catalog__btn::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../images/refresh.svg");
  opacity: 0.8;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.catalog-grid__item {
  border: 1px solid rgba(39, 48, 15, 0.4);
  border-radius: 4%;
  padding: 30px 30px 40px 30px;
}
.catalog-grid__cover {
  height: 22rem;
  width: 22rem;
  text-align: center;
  margin: 0 auto;
}
.catalog-grid__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.catalog-grid__title {
  font-size: 3rem;
  font-family: "Cormorant", serif;
  font-weight: 700;
  margin: 0;
}
.catalog-grid__description {
  color: rgba(39, 48, 15, 0.7);
  max-width: 242px;
  line-height: 2.3rem;
}
.catalog-grid__footer {
  display: flex;
  margin-top: 2.8rem;
  justify-content: space-between;
}
.catalog-grid__price {
  font-size: 2.4rem;
  margin: 0;
}

.delivery {
  padding-bottom: 17.3rem;
}
.delivery__link {
  color: #27300f;
}
.delivery__left-block {
  max-width: 605px;
  padding-left: 54px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.delivery__right-block {
  max-width: 508px;
  padding-right: 1.4rem;
}
.delivery__payment {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin-top: 3rem;
  max-width: 300px;
  gap: 3rem;
}
.delivery__payment-item {
  opacity: 0.4;
  transition: 0.3s;
}
.delivery__payment-item-mastercard {
  display: block;
  width: 55px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/mastercard.svg");
}
.delivery__payment-item-visa {
  display: block;
  width: 75px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/visa.svg");
}
.delivery__payment-item-paypal {
  display: block;
  width: 86px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/paypal.svg");
}
.delivery__payment-item:hover {
  opacity: 1;
}
.delivery__info {
  display: flex;
  padding-top: 7rem;
  justify-content: space-around;
  letter-spacing: 0.07px;
}
.delivery__discount {
  color: #d26a22;
}

.contact {
  margin-bottom: 16rem;
}
.contact-box {
  display: flex;
  justify-content: space-between;
}
.contact-box__item {
  padding-top: 2.2rem;
}
.contact-box__text {
  max-width: 400px;
  flex-grow: 1;
  margin: 64px 0 0 120px;
}
.contact-box__form {
  flex-basis: 587px;
}
.contact-box__list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 6rem;
}
.contact-box__list-item {
  margin-bottom: 2rem;
}
.contact-box__link {
  display: flex;
  gap: 30px;
  font-size: 2.4rem;
  text-decoration: none;
  color: #27300f;
  font-weight: 500;
}
.contact-box__link::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  display: block;
}
.contact-box__tel::before {
  background-image: url("../images/phone.svg");
  background-size: 30px 30px;
}
.contact-box__mail::before {
  background-image: url("../images/mail.svg");
  background-size: 30px 30px;
}

.card {
  border: 2px solid rgba(39, 48, 15, 0.4);
  border-radius: 2rem;
  padding: 3.3rem 5.5rem;
}
.card__title {
  font-size: 3rem;
  font-family: "Cormorant", serif;
  font-weight: 700;
  margin: 0 0 2.8rem 0;
}
.card__label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: block;
}
.card__input {
  border: 1px solid rgba(39, 48, 15, 0.4);
  padding: 2.2rem 3rem;
  margin-bottom: 3rem;
  display: block;
  border-radius: 2rem;
  width: 100%;
  box-sizing: border-box;
}
.card__input:focus {
  border: 1px solid #27300f;
  outline: none;
}
.card__check {
  font-size: 1.2rem;
  color: rgba(39, 48, 15, 0.6);
  line-height: 1.5;
  max-width: 360px;
}
.card__link {
  margin-top: 12px;
  padding: 23px 49px 23px 50px;
}
.card__docs {
  font-size: 1.2rem;
  color: rgba(39, 48, 15, 0.6);
  line-height: 1.5;
}

.footer {
  padding-top: 7.7rem;
  padding-bottom: 6.6rem;
  border-top: 1px solid rgba(39, 48, 15, 0.4);
}
.footer__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  flex-basis: 96rem;
}
.footer__list {
  padding-left: 0;
  margin: 0;
}
.footer__item {
  list-style-type: none;
  margin-bottom: 2.5rem;
}
.footer__link {
  color: #27300f;
  text-decoration: none;
  font-size: 1.8rem;
}
.footer-social {
  padding-left: 0;
  display: flex;
  gap: 3.3rem;
}
.footer-social__link {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid rgba(39, 48, 15, 0.8);
  background-repeat: no-repeat;
  background-position: center center;
}
.footer-social__vk {
  background-image: url("../images/vk.svg");
  background-size: 30px 30px;
  opacity: 0.8;
  transition: 0.3s;
}
.footer-social__vk:hover {
  opacity: 1;
}
.footer-social__inst {
  background-image: url("../images/instagram.svg");
  background-size: 20px 20px;
  opacity: 0.8;
  transition: 0.3s;
}
.footer-social__inst:hover {
  opacity: 1;
}
.footer-social__fb {
  background-image: url("../images/facebook.svg");
  background-size: 15px 20px;
  opacity: 0.8;
  transition: 0.3s;
}
.footer-social__fb:hover {
  opacity: 1;
}
.footer-social__item {
  list-style-type: none;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__tel {
  font-size: 2.7rem;
  color: #27300f;
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.footer__mail {
  font-size: 1.8rem;
  color: #27300f;
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}
.footer__text {
  display: flex;
  justify-content: space-between;
  color: rgba(39, 48, 15, 0.6);
}
.footer__author {
  color: rgba(39, 48, 15, 0.6);
  text-decoration: none;
  transition: 0.3s;
}
.footer__author:hover {
  color: #27300f;
}

/*# sourceMappingURL=main.css.map */
