@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap");
html {
  font-size: 10px;
}
@media (max-width: 500px) {
  html {
    font-size: 8px;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Jost", sans-serif;
  color: #27300f;
  background-image: url(../images/bgmain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  body {
    background-image: url(../images/bg-mob.jpg);
  }
}

.header {
  max-width: 1440px;
  margin: 0 auto 4.6rem;
  padding: 4rem 15px 0 15px;
  display: flex;
  align-items: center;
  gap: 12rem;
}
@media (max-width: 1500px) {
  .header {
    gap: 8rem;
  }
}
@media (max-width: 1280px) {
  .header {
    gap: 4rem;
  }
}
@media (max-width: 900px) {
  .header {
    padding: 2rem 15px 0 15px;
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 500px) {
  .header {
    margin: 0 auto 3.1rem;
  }
}
@media (max-width: 900px) {
  .header__navigation {
    display: none;
  }
}
.header__nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  gap: 4.8rem;
}
@media (max-width: 1200px) {
  .header__nav {
    gap: 2rem;
  }
}
.header__link {
  color: #27300f;
  text-decoration: none;
  transition: 0.3s;
}
.header__link:hover {
  color: #d26a22;
}
.header__tel {
  color: #27300f;
  font-weight: 500;
  text-decoration: none;
  padding-left: 10rem;
  transition: 0.3s;
}
@media (max-width: 1600px) {
  .header__tel {
    padding-left: 0;
  }
}
.header__tel:hover {
  color: #d26a22;
}
@media (max-width: 1200px) {
  .header__tel {
    display: none;
  }
}
.header__cart {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 1px solid #d26a22;
  background-color: #d26a22;
  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.7rem 1.5rem;
  position: relative;
  transition: 0.3s;
}
@media (max-width: 500px) {
  .header__cart {
    width: 4.5rem;
    height: 4.5rem;
  }
}
.header__cart:hover {
  background-color: #27300f;
  border: 1px solid #27300f;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header__cart:hover {
    background-color: inherit;
  }
}
@media (max-width: 1200px) {
  .header__cart {
    background-image: url(../images/cart-mobi.svg);
    background-color: inherit;
    border: 1px solid #27300f;
    opacity: 0.8;
  }
  .header__cart:hover {
    opacity: 1;
  }
}
.header__phone, .header__menu {
  display: none;
}
@media (max-width: 1200px) {
  .header__phone {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-image: url(../images/tel.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.7rem 1.5rem;
    border: 1px solid #27300f;
    opacity: 0.8;
  }
  .header__phone:hover {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .header__phone {
    width: 4.5rem;
    height: 4.5rem;
    background-size: 2.25rem 2.2rem;
  }
}
@media (max-width: 900px) {
  .header__menu {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: inherit;
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.7rem 1.5rem;
    border: 1px solid #27300f;
    opacity: 0.8;
    cursor: pointer;
  }
  .header__menu:hover {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .header__menu {
    width: 4.5rem;
    height: 4.5rem;
    background-size: 2.25rem 2.2rem;
  }
}
.header__buttons {
  position: relative;
}
@media (max-width: 1200px) {
  .header__buttons {
    display: flex;
    gap: 1.5rem;
  }
}
@media (max-width: 500px) {
  .header__buttons {
    gap: 1.4rem;
  }
}
.header__counter {
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  top: 0.7rem;
  right: 0.55rem;
}
@media (max-width: 1200px) {
  .header__counter {
    color: #27300f;
  }
}
.header__dropdown {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 68px;
  right: -42px;
  z-index: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  width: 253px;
  box-shadow: 0 7px 32px 8px rgba(71, 90, 67, 0.1);
}
@media (max-width: 1000px) {
  .header__dropdown {
    right: -11px;
  }
}
@media (max-width: 500px) {
  .header__dropdown {
    top: 53px;
  }
}
.header__dropdown::after {
  content: "";
  border: 17px solid transparent;
  border-bottom: 18px solid #fff;
  position: absolute;
  top: -28px;
  right: 43px;
}
@media (max-width: 1000px) {
  .header__dropdown::after {
    right: 12px;
  }
}
.header__cover {
  position: relative;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
}
.header__img {
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.header__product {
  display: inline-block;
  color: #27300f;
  text-decoration: none;
  border-bottom: 1px solid #27300f;
}

.close {
  background-image: url("../images/close.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 12px;
  right: 18px;
  cursor: pointer;
}

.logo {
  display: block;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12.3rem;
  height: 3.2rem;
}
.logo__footer {
  width: 18rem;
  height: 6rem;
  margin-top: 1rem;
}
@media (max-width: 500px) {
  .logo__footer {
    width: 15rem;
    margin-top: 1.3rem;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

.main {
  position: relative;
  padding-bottom: 187px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .main {
    padding-bottom: 80px;
  }
}
@media (max-width: 500px) {
  .main {
    padding-bottom: 4.75rem;
  }
}
.main__text {
  padding-top: 18.4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 1200px) {
  .main__text {
    padding-top: 11rem;
  }
}
@media (max-width: 1100px) {
  .main__text {
    padding-top: 8rem;
  }
}
@media (max-width: 1000px) {
  .main__text {
    flex-basis: 330px;
  }
}
@media (max-width: 768px) {
  .main__text {
    flex-basis: 100%;
    padding-top: 0;
  }
}
@media (max-width: 500px) {
  .main__text {
    gap: 2rem;
  }
}
.main__item {
  margin-left: 12rem;
  max-width: 378px;
  margin-top: 3.8rem;
}
@media (max-width: 1350px) {
  .main__item {
    margin-left: 8rem;
  }
}
@media (max-width: 1200px) {
  .main__item {
    margin-left: 5rem;
  }
}
@media (max-width: 1100px) {
  .main__item {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .main__item {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .main__item {
    margin-left: 0;
    margin-top: 0;
  }
}
.main__link {
  margin-top: 5.1rem;
}
@media (max-width: 768px) {
  .main__link {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .main__link {
    margin-top: 4.1rem;
  }
}
.main__flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1100px) {
  .main__flex {
    align-items: flex-start;
  }
}
@media (max-width: 1000px) {
  .main__flex {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.main__cover {
  flex-basis: 763px;
  height: 763px;
  border: 1px solid rgba(39, 48, 15, 0.4);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1350px) {
  .main__cover {
    flex-basis: 650px;
    height: 650px;
  }
}
@media (max-width: 1200px) {
  .main__cover {
    flex-basis: 600px;
    height: 600px;
  }
}
@media (max-width: 1280px) {
  .main__cover {
    border: 1px solid transparent;
  }
}
@media (max-width: 1100px) {
  .main__cover {
    flex-basis: 450px;
    height: 450px;
  }
}
@media (max-width: 1000px) {
  .main__cover {
    flex-basis: calc(100% - 330px);
    width: calc(100% - 330px);
    height: auto;
  }
}
@media (max-width: 768px) {
  .main__cover {
    display: none;
  }
}
.main__line {
  width: 658px;
  height: 658px;
  border: 1px solid rgba(39, 48, 15, 0.4);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1350px) {
  .main__line {
    width: 600px;
    height: 600px;
  }
}
@media (max-width: 1280px) {
  .main__line {
    width: auto;
  }
}
@media (max-width: 1200px) {
  .main__line {
    border: 1px solid transparent;
  }
}
.main__image_shadow {
  width: 92%;
  border-radius: 100%;
  -webkit-animation: shadow 5s infinite;
  animation: shadow 5s infinite;
}
.main__image {
  width: 100%;
  height: 100%;
}
.main__imagemobi {
  display: none;
}
@media (max-width: 768px) {
  .main__imagemobi {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    width: 92%;
    border-radius: 100%;
    -webkit-animation: shadow 5s infinite;
    animation: shadow 5s infinite;
  }
}
@media (max-width: 500px) {
  .main__imagemobi {
    max-width: 220px;
    margin-top: 5.25rem;
  }
}
.main__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  color: #27300f;
  text-align: left;
  transition: 0.3s;
  cursor: pointer;
}
.main__btn:hover::before {
  background-color: #d26a22;
  box-shadow: 0 0 0 4px #fff, 0 0 0 5px #d26a22;
  transition: 0.1s;
}
.main__btn::before {
  content: "";
  background-color: #27300f;
  width: 11px;
  height: 11px;
  box-shadow: 0 0 0 4px #fff, 0 0 0 5px #27300f;
  border-radius: 100%;
  position: absolute;
}
.main__btn_1 {
  top: 43px;
  left: 67px;
}
@media (max-width: 1350px) {
  .main__btn_1 {
    top: 15px;
  }
}
@media (max-width: 1200px) {
  .main__btn_1 {
    top: 3px;
  }
}
@media (max-width: 1280px) {
  .main__btn_1 {
    display: none;
  }
}
.main__btn_1::before {
  top: 26px;
  left: 83px;
}
.main__btn_2 {
  top: 192px;
  right: 1px;
}
@media (max-width: 1350px) {
  .main__btn_2 {
    top: 112px;
    right: -8px;
  }
}
@media (max-width: 1200px) {
  .main__btn_2 {
    top: 74px;
    right: -16px;
  }
}
@media (max-width: 1280px) {
  .main__btn_2 {
    display: none;
  }
}
.main__btn_2::before {
  top: 20px;
  right: 89px;
}
.main__btn_3 {
  bottom: -46px;
  right: 244px;
}
@media (max-width: 1350px) {
  .main__btn_3 {
    bottom: -60px;
  }
}
@media (max-width: 1280px) {
  .main__btn_3 {
    display: none;
  }
}
.main__btn_3::before {
  bottom: 53px;
  right: 30px;
}
.main__food {
  display: block;
  color: rgba(39, 48, 15, 0.8);
  line-height: 2.7rem;
}
.main__about {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 18px 10px 10px 10px;
  border-radius: 20px;
  width: 218px;
  box-shadow: 0 7px 32px 8px rgba(71, 90, 67, 0.1);
  visibility: hidden;
}
.main__about_1 {
  top: 115px;
  left: -21px;
}
@media (max-width: 1350px) {
  .main__about_1 {
    top: 84px;
  }
}
.main__about_2 {
  top: 261px;
  right: -111px;
}
@media (max-width: 1700px) {
  .main__about_2 {
    right: -3px;
  }
}
@media (max-width: 1350px) {
  .main__about_2 {
    top: 172px;
  }
}
.main__about_3 {
  bottom: 35px;
  right: 261px;
}
.main__title {
  margin: 24px 20px 10px 20px;
  font-size: 2.4rem;
  line-height: 1.2rem;
  font-family: "Cormorant", serif;
  font-weight: 700;
}
.main__description {
  margin: 14px 20px 10px 20px;
  opacity: 0.6;
  line-height: 2.1rem;
  font-size: 1.4rem;
}
.main__price {
  margin: 20px;
  line-height: 1.2rem;
}
.main__cucumber {
  position: absolute;
  top: -50px;
  left: 681px;
  width: 86px;
  z-index: -1;
}
@media (max-width: 1100px) {
  .main__cucumber {
    top: -52px;
    left: 242px;
  }
}
@media (max-width: 500px) {
  .main__cucumber {
    transform: rotate(90deg);
    left: 92%;
    top: 66%;
  }
}
@media (max-width: 400px) {
  .main__cucumber {
    transform: rotate(90deg);
    left: 93%;
    top: 73%;
    width: 37px;
  }
}
.main__avocado {
  position: absolute;
  top: 43px;
  right: -17px;
  width: 183px;
  height: 194px;
  z-index: -1;
}
@media (max-width: 1700px) {
  .main__avocado {
    top: 77px;
    width: 139px;
    height: 129px;
  }
}
@media (max-width: 1600px) {
  .main__avocado {
    top: 101px;
  }
}
@media (max-width: 1280px) {
  .main__avocado {
    top: 100px;
    right: -20px;
    width: 167px;
    height: 159px;
  }
}
@media (max-width: 1200px) {
  .main__avocado {
    width: 166px;
    height: 160px;
  }
}
@media (max-width: 1100px) {
  .main__avocado {
    top: 45px;
    width: 140px;
    height: 120px;
  }
}
@media (max-width: 1000px) {
  .main__avocado {
    top: 97px;
    width: 112px;
    height: 110px;
  }
}
@media (max-width: 500px) {
  .main__avocado {
    top: 80px;
    right: -50px;
  }
}
@media (max-width: 400px) {
  .main__avocado {
    width: 11.25rem;
    height: 9.88rem;
    top: 9.4rem;
  }
}
.main__tomato {
  position: absolute;
  bottom: 11.5rem;
  right: 11.1rem;
  width: 11rem;
  z-index: -1;
}
@media (max-width: 1350px) {
  .main__tomato {
    bottom: 10rem;
  }
}
@media (max-width: 1100px) {
  .main__tomato {
    bottom: 7.5rem;
    width: 9rem;
  }
}
@media (max-width: 900px) {
  .main__tomato {
    right: 1.1rem;
    bottom: 12.5rem;
  }
}
@media (max-width: 500px) {
  .main__tomato {
    bottom: inherit;
    top: 80px;
    right: 41.1rem;
  }
}
@media (max-width: 400px) {
  .main__tomato {
    top: 8rem;
    right: 35rem;
    width: 7rem;
  }
}
.main__pepper {
  position: absolute;
  top: 400px;
  left: 28px;
  width: 86px;
  height: 72px;
  z-index: -1;
}
@media (max-width: 1600px) {
  .main__pepper {
    top: 470px;
  }
}
@media (max-width: 1350px) {
  .main__pepper {
    top: 505px;
    left: 3px;
  }
}
@media (max-width: 1200px) {
  .main__pepper {
    top: 400px;
  }
}
@media (max-width: 1100px) {
  .main__pepper {
    display: none;
  }
}
@media (max-width: 1000px) {
  .main__pepper {
    display: none;
  }
}
@media (max-width: 400px) {
  .main__pepper {
    display: block;
    top: 235px;
    left: -5px;
    width: 35px;
    height: 23px;
  }
}
.main__beans {
  position: absolute;
  bottom: 166px;
  left: 0;
  width: 93px;
  height: 113px;
}
@media (max-width: 1100px) {
  .main__beans {
    bottom: 38px;
  }
}
@media (max-width: 1000px) {
  .main__beans {
    bottom: 140px;
  }
}
@media (max-width: 400px) {
  .main__beans {
    display: none;
  }
}

.title {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 8rem;
  margin: 0;
}
@media (max-width: 1280px) {
  .title {
    font-size: 7rem;
  }
}
@media (max-width: 1000px) {
  .title {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .title {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 3.75rem;
  }
}
.title__span {
  font-style: italic;
}
@media (max-width: 1000px) {
  .title_block_desk {
    text-align: center;
  }
}
.title_block .title__span {
  display: block;
  line-height: 7rem;
}
@media (max-width: 500px) {
  .title_block .title__span {
    line-height: 4rem;
  }
}

.description {
  line-height: 1.5;
  margin: 0;
}
@media (max-width: 1000px) {
  .description_desk {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .description {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .description {
    font-size: 1.5rem;
    line-height: 2.12rem;
  }
}
.description_size-s {
  font-size: 1.8rem;
}
@media (max-width: 1280px) {
  .description_size-s {
    font-size: 1.6rem;
  }
}
.description_size-m {
  font-size: 2.4rem;
}
@media (max-width: 1280px) {
  .description_size-m {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  .description_size-m {
    font-size: 1.5rem;
  }
}
.description_padding-bottom {
  padding-bottom: 25px;
}
@media (max-width: 500px) {
  .description_padding-bottom {
    padding-bottom: 2.63rem;
  }
}

.link {
  color: #fff;
  text-transform: uppercase;
  padding: 2.4rem 4.2rem;
  background-color: #d26a22;
  box-shadow: 0px 8px 15px 0px #d26a22;
  text-decoration: none;
  border-radius: 3.9rem;
  display: inline-block;
  letter-spacing: 0.13rem;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 500px) {
  .link {
    padding: 2rem 3.3rem;
    letter-spacing: 0.03rem;
  }
}
.link:hover {
  background-color: #bf601f;
}
.link_min {
  letter-spacing: 0.08rem;
  padding: 18px 34px;
  font-size: 1.4rem;
  box-shadow: 0 7px 14.31px 0.69px #d26a22;
}
@media (max-width: 900px) {
  .link_min {
    padding: 12px 34px;
  }
}
.link_max {
  padding: 2.4rem 5.2rem;
}

.offer {
  padding-top: 1.2rem;
  padding-bottom: 10rem;
}
@media (max-width: 900px) {
  .offer {
    padding-bottom: 4.5rem;
  }
}
@media (max-width: 768px) {
  .offer {
    padding-bottom: 4rem;
  }
}
@media (max-width: 400px) {
  .offer {
    padding-bottom: 3.8rem;
  }
}
.offer__text {
  margin-top: 6.1rem;
  max-width: 70rem;
}
@media (max-width: 768px) {
  .offer__text {
    margin-top: 3rem;
  }
}
@media (max-width: 400px) {
  .offer__text {
    margin: 3.1rem auto;
    max-width: 30rem;
  }
}

.slider {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 32px;
}
@media (max-width: 768px) {
  .slider {
    max-width: 370px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .slider {
    max-width: 230px;
    padding-top: 40px;
  }
}
@media (max-width: 400px) {
  .slider {
    padding-top: 2.25rem;
    max-width: 210px;
    padding-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .slider > .swiper-horizontal > .swiper-pagination-bullets {
    display: block;
    bottom: -4.25rem;
  }
}
@media (max-width: 400px) {
  .slider > .swiper-horizontal > .swiper-pagination-bullets {
    bottom: -5.25rem;
  }
}

.swiper {
  overflow: initial;
}
.swiper-slide {
  border: 1px solid rgba(39, 48, 15, 0.4);
  padding: 4rem 3.7rem;
  border-radius: 2rem;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}
@media (max-width: 1280px) {
  .swiper-slide {
    padding: 3rem;
  }
}
@media (max-width: 768px) {
  .swiper-slide {
    padding: 2rem 4rem;
    background-size: 250px;
    margin-right: 20px;
  }
}
@media (max-width: 500px) {
  .swiper-slide {
    width: 209px;
    background-size: 135px;
    background-position-x: initial;
    background-position-y: inherit;
    padding: 2rem 5rem;
  }
}
.swiper-slide_white {
  height: 518px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s;
  background-position: center;
}
@media (max-width: 1000px) {
  .swiper-slide_white {
    height: 445px;
  }
}
@media (max-width: 768px) {
  .swiper-slide_white {
    height: 345px;
  }
}
@media (max-width: 500px) {
  .swiper-slide_white {
    height: 240px;
  }
}
.swiper-slide_white:hover .swiper-slide__hover {
  height: 233px;
  opacity: 1;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .swiper-slide_white:hover .swiper-slide__hover {
    height: 200px;
  }
}
@media (max-width: 500px) {
  .swiper-slide_white:hover .swiper-slide__hover {
    height: auto;
  }
}
.swiper-slide_white:hover::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.55);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 2rem;
  z-index: -1;
}
@media (max-width: 500px) {
  .swiper-slide_white:hover::after {
    display: none;
  }
}
.swiper-slide:hover {
  box-shadow: 0 0 0 2px rgba(39, 48, 15, 0.4) inset;
}
@media (max-width: 500px) {
  .swiper-slide:hover {
    box-shadow: none;
  }
}
.swiper-slide-1 {
  background-image: url("../images/bottle-milk.png");
}
@media (max-width: 1350px) {
  .swiper-slide-1 {
    background-size: 100%;
  }
}
@media (max-width: 1100px) {
  .swiper-slide-1 {
    background-size: 300px;
  }
}
@media (max-width: 768px) {
  .swiper-slide-1 {
    background-size: 255px;
  }
}
@media (max-width: 600px) {
  .swiper-slide-1 {
    background-size: 235px;
  }
}
@media (max-width: 500px) {
  .swiper-slide-1 {
    width: 209px;
    background-size: 135px;
    background-position: center top;
  }
}
.swiper-slide-2 {
  background-image: url("../images/pasta.png");
}
@media (max-width: 1350px) {
  .swiper-slide-2 {
    background-size: 100%;
  }
}
@media (max-width: 1100px) {
  .swiper-slide-2 {
    background-size: 300px;
  }
}
@media (max-width: 768px) {
  .swiper-slide-2 {
    background-size: 203px;
  }
}
@media (max-width: 500px) {
  .swiper-slide-2 {
    background-size: 150px;
  }
}
.swiper-slide-3 {
  background-image: url("../images/steaks.png");
  background-position: right;
}
@media (max-width: 1350px) {
  .swiper-slide-3 {
    background-size: 100%;
  }
}
@media (max-width: 900px) {
  .swiper-slide-3 {
    background-size: 380px;
  }
}
@media (max-width: 500px) {
  .swiper-slide-3 {
    width: 209px;
    background-size: 204px;
    background-position: right top;
  }
}
.swiper-slide__description {
  min-height: 50px;
  max-width: 297px;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
}
@media (max-width: 1200px) {
  .swiper-slide__description {
    margin: 1rem auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .swiper-slide__description {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  .swiper-slide__description {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
.swiper-slide__price {
  font-size: 2.4rem;
  margin-bottom: 3.4rem;
}
@media (max-width: 1200px) {
  .swiper-slide__price {
    text-align: center;
    margin: 0 0 1rem 0;
  }
}
@media (max-width: 768px) {
  .swiper-slide__price {
    font-size: 1.8rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .swiper-slide__price {
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 2.6rem;
  }
}
.swiper-slide__title {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 3rem;
  color: #27300f;
  margin-bottom: 0;
}
@media (max-width: 1280px) {
  .swiper-slide__title {
    height: 26px;
  }
}
@media (max-width: 1100px) {
  .swiper-slide__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 1200px) {
  .swiper-slide__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .swiper-slide__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 500px) {
  .swiper-slide__title {
    font-size: 1.75rem;
    height: 3.75rem;
    margin-top: 1.38rem;
    text-align: center;
  }
}
.swiper-slide__hover {
  height: 0;
  opacity: 0;
}
@media (max-width: 500px) {
  .swiper-slide__hover {
    height: auto;
    opacity: 1;
  }
}
.swiper-slide__text {
  color: rgba(39, 48, 15, 0.7);
  line-height: 1.5;
  max-width: 263px;
  margin-top: 2.5rem;
  margin-bottom: 3.4rem;
}
@media (max-width: 1200px) {
  .swiper-slide__text {
    margin: 1rem auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .swiper-slide__text {
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  .swiper-slide__text {
    display: none;
  }
}
.swiper-slide__link {
  text-decoration: none;
  color: #27300f;
  opacity: 0.8;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  gap: 2rem;
  align-items: center;
  transition: 0.3s;
}
@media (max-width: 1200px) {
  .swiper-slide__link {
    margin: 0 auto;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .swiper-slide__link {
    font-size: 1rem;
    gap: 1rem;
  }
}
@media (max-width: 500px) {
  .swiper-slide__link {
    font-size: 1.25rem;
    justify-content: center;
    height: 3.38rem;
  }
}
.swiper-slide__link:hover {
  opacity: 1;
}
.swiper-slide__link::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url("../images/plus.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .swiper-slide__link::before {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 500px) {
  .swiper-slide__link::before {
    width: 21px;
    height: 21px;
  }
}
.swiper-slide__cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 320px;
  text-align: center;
}
@media (max-width: 1400px) {
  .swiper-slide__cover {
    height: 280px;
  }
}
@media (max-width: 1280px) {
  .swiper-slide__cover {
    height: 275px;
  }
}
@media (max-width: 1100px) {
  .swiper-slide__cover {
    height: 203px;
  }
}
@media (max-width: 768px) {
  .swiper-slide__cover {
    height: 183px;
  }
}
@media (max-width: 500px) {
  .swiper-slide__cover {
    height: 100px;
  }
}
@media (max-width: 400px) {
  .swiper-slide__cover {
    height: 88px;
  }
}
.swiper-slide__image {
  height: 100%;
  width: 100%;
  max-width: 351px;
  -o-object-fit: contain;
  object-fit: contain;
}
.swiper-slide__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-pagination {
  display: none;
}
.swiper-button-prev, .swiper-button-next {
  top: -7%;
  opacity: 40%;
  transition: 0.3s;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  opacity: 100%;
}
.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  left: initial;
  background-image: url("../images/arrow-prev.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  right: 72px;
}
@media (max-width: 500px) {
  .swiper-button-prev {
    display: none;
  }
}
.swiper-button-next {
  background-image: url("../images/arrow-next.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  right: -9px;
}
@media (max-width: 500px) {
  .swiper-button-next {
    display: none;
  }
}

@media (max-width: 500px) {
  .swiper-horizontal > .swiper-pagination-bullets {
    display: block;
    bottom: -30px;
  }
}

.swiper-pagination-bullet {
  width: 9px;
  height: 8px;
}

.swiper-pagination-bullet-active {
  background: #d26a22;
  width: 9px;
  height: 8px;
  border: 1px solid #d26a22;
}

.counter {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .counter_tab-none {
    display: none;
  }
}
.counter__btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #27300f;
  border-radius: 100%;
  background-color: transparent;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1400px) {
  .counter__btn {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1100px) {
  .counter__btn {
    width: 35px;
    height: 35px;
  }
}
.counter__btn_min {
  width: 40px;
  height: 40px;
}
.counter__minus {
  pointer-events: none;
  border: 1px solid #27300f;
  background-image: url("../images/minus-counter.svg");
  background-size: 14px 14px;
  opacity: 0.4;
  font-size: 2.4rem;
}
.counter__plus {
  background-image: url("../images/plus-counter.svg");
  background-size: 14px 14px;
}
.counter__input {
  text-align: center;
  width: 46px;
  border: none;
  padding: 0;
}
.counter__input_min {
  width: 3.3rem;
}
@media (max-width: 1400px) {
  .counter__input {
    width: 25px;
  }
}
.counter + .link {
  text-align: center;
}
@media (max-width: 1100px) {
  .counter + .link {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .counter + .link {
    font-size: 1rem;
    padding: 1.4rem 2.2rem;
    width: 12rem;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .counter + .link {
    padding: 1.75rem 1.38rem;
    font-size: 1.25rem;
    margin: 0 auto;
  }
}

.about {
  padding-bottom: 19rem;
  padding-top: 3.1rem;
}
@media (max-width: 1400px) {
  .about {
    padding-bottom: 10rem;
  }
}
@media (max-width: 900px) {
  .about {
    padding-top: 2.7rem;
  }
}
@media (max-width: 768px) {
  .about {
    padding-bottom: 8rem;
  }
}
@media (max-width: 400px) {
  .about {
    padding-bottom: 6.5rem;
    padding-top: 2.5rem;
  }
}
.about__box {
  display: flex;
  justify-content: flex-end;
  gap: 26rem;
  margin-top: 1rem;
}
@media (max-width: 1400px) {
  .about__box {
    gap: 0;
    justify-content: space-around;
  }
}
@media (max-width: 1100px) {
  .about__box {
    gap: 12rem;
  }
}
@media (max-width: 1000px) {
  .about__box {
    gap: 6rem;
  }
}
@media (max-width: 900px) {
  .about__box {
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  .about__box {
    flex-direction: column;
    gap: 0;
  }
}
.about__text {
  padding-top: 9rem;
  max-width: 60rem;
}
@media (max-width: 1400px) {
  .about__text {
    padding-top: 4rem;
  }
}
@media (max-width: 1100px) {
  .about__text {
    padding-top: 1rem;
  }
}
@media (max-width: 768px) {
  .about__text {
    padding-bottom: 2rem;
  }
}
@media (max-width: 400px) {
  .about__text {
    padding-top: 2rem;
    padding-bottom: 5.5rem;
  }
}
.about__list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  font-family: "Cormorant", serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 768px) {
  .about__list {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .about__list {
    font-size: 1.75rem;
    gap: 4rem;
  }
}
.about__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.about__item::before {
  content: "";
  display: block;
  width: 85px;
  height: 85px;
  border: 1px solid rgba(39, 48, 15, 0.4);
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 1.7rem;
}
@media (max-width: 400px) {
  .about__item::before {
    width: 58px;
    height: 58px;
  }
}
.about__item_health::before {
  background-image: url("../images/fruits.svg");
  background-size: 43px 45px;
}
@media (max-width: 400px) {
  .about__item_health::before {
    background-size: 31px 45px;
  }
}
.about__item_traditions {
  margin-left: 9rem;
}
@media (max-width: 1280px) {
  .about__item_traditions {
    margin-left: 2rem;
  }
}
@media (max-width: 900px) {
  .about__item_traditions {
    margin-left: 1rem;
  }
}
.about__item_traditions::before {
  background-image: url("../images/traditional.svg");
  background-size: 40px 40px;
}
@media (max-width: 400px) {
  .about__item_traditions::before {
    background-size: 31px 45px;
  }
}
.about__item_goods {
  margin-left: 7.1rem;
}
@media (max-width: 1280px) {
  .about__item_goods {
    margin-left: 2rem;
  }
}
@media (max-width: 900px) {
  .about__item_goods {
    margin-left: 1rem;
  }
}
.about__item_goods::before {
  background-image: url("../images/good.svg");
  background-size: 46px 46px;
}
@media (max-width: 400px) {
  .about__item_goods::before {
    background-size: 31px 45px;
  }
}

.trends {
  margin-bottom: 15.3rem;
}
@media (max-width: 1200px) {
  .trends {
    margin-bottom: 7rem;
  }
}
@media (max-width: 900px) {
  .trends {
    margin-bottom: 5rem;
  }
}
@media (max-width: 768px) {
  .trends {
    margin-bottom: 5rem;
  }
}
@media (max-width: 500px) {
  .trends {
    margin-bottom: 5.38rem;
  }
}
.trends__text {
  padding-top: 3rem;
}
@media (max-width: 900px) {
  .trends__text {
    padding-top: 1rem;
  }
}
@media (max-width: 400px) {
  .trends__text {
    max-width: 230px;
    margin: 0 auto;
    padding-top: 2.4rem;
  }
}
.trends__slider {
  padding-top: 84px;
}
@media (max-width: 500px) {
  .trends__slider {
    padding-top: 42px;
  }
}

.category {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 8.8rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .category {
    margin-top: 3rem;
  }
}
@media (max-width: 500px) {
  .category {
    display: none;
  }
}
@media (max-width: 768px) {
  .category {
    gap: 1.5rem;
    justify-content: center;
    margin-top: 3rem;
  }
}
@media (max-width: 500px) {
  .category {
    margin-top: 5rem;
  }
}
.category__item {
  flex-basis: 230px;
  text-align: center;
}
@media (max-width: 500px) {
  .category__item {
    flex-basis: 110px;
  }
}
.category__link {
  list-style-type: none;
  color: #27300f;
  text-decoration: none;
  border: 1px solid rgba(39, 48, 15, 0.5);
  padding: 2.4rem 0;
  border-radius: 4rem;
  display: block;
  font-size: 1.8rem;
  transition: 0.3s;
}
@media (max-width: 400px) {
  .category__link {
    font-size: 1.25rem;
  }
}
.category__link:hover {
  border: 1px solid rgba(210, 106, 34, 0.5);
  color: #d26a22;
}
.category-swiper {
  display: none;
  gap: 2rem;
  margin-top: 8.8rem;
  margin-bottom: 5rem;
}
@media (max-width: 500px) {
  .category-swiper {
    display: block;
    text-align: center;
    margin-top: 4.13rem;
    margin-bottom: 2.35rem;
  }
}
.category-swiper__link {
  color: #27300f;
  text-decoration: none;
  border: 1px solid rgba(39, 48, 15, 0.5);
  padding: 2.4rem 0;
  border-radius: 4rem;
  display: block;
  font-size: 1.25rem;
  transition: 0.3s;
  flex-basis: 120px;
  margin-right: 0;
}
@media (max-width: 500px) {
  .category-swiper__link {
    font-size: 1.25rem;
    flex-basis: 110px;
    padding: 1.75rem 0;
  }
}
.category-swiper__link:hover {
  border: 1px solid rgba(210, 106, 34, 0.5);
  color: #d26a22;
}

.catalog {
  margin-bottom: 13.2rem;
}
@media (max-width: 900px) {
  .catalog {
    margin-bottom: 7rem;
  }
}
@media (max-width: 500px) {
  .catalog {
    margin-bottom: 6.88rem;
  }
}
.catalog__btn {
  color: rgba(39, 48, 15, 0.8);
  border: none;
  background-color: transparent;
  display: flex;
  gap: 2rem;
  letter-spacing: 1px;
  margin: 6rem auto;
  text-transform: uppercase;
  align-items: center;
}
@media (max-width: 500px) {
  .catalog__btn {
    font-size: 1.25rem;
    margin: 5rem auto;
    gap: 1rem;
  }
}
.catalog__btn::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../images/refresh.svg");
  opacity: 0.8;
}
@media (max-width: 500px) {
  .catalog__btn::before {
    width: 20px;
    height: 20px;
  }
}
.catalog__list {
  overflow: hidden;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media (max-width: 1500px) {
  .catalog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1100px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .catalog-grid {
    gap: 11px 10px;
  }
}
.catalog-grid__item {
  border: 1px solid rgba(39, 48, 15, 0.4);
  border-radius: 4%;
  padding: 30px 30px 40px 30px;
}
@media (max-width: 1400px) {
  .catalog-grid__item {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .catalog-grid__item {
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .catalog-grid__item {
    border-radius: 2rem;
    padding: 10px 10px 13px 10px;
  }
}
.catalog-grid__cover {
  height: 22rem;
  width: 22rem;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .catalog-grid__cover {
    height: 15rem;
    width: 20rem;
  }
}
@media (max-width: 500px) {
  .catalog-grid__cover {
    height: 8.13rem;
    width: 8.13rem;
  }
}
.catalog-grid__img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.catalog-grid__title {
  font-size: 3rem;
  font-family: "Cormorant", serif;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 1500px) {
  .catalog-grid__title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .catalog-grid__title {
    font-size: 2rem;
    height: 30px;
  }
}
@media (max-width: 500px) {
  .catalog-grid__title {
    font-size: 1.75rem;
    text-align: center;
  }
}
.catalog-grid__description {
  color: rgba(39, 48, 15, 0.7);
  max-width: 242px;
  line-height: 2.3rem;
}
@media (max-width: 1500px) {
  .catalog-grid__description {
    margin: 1rem auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .catalog-grid__description {
    height: 60px;
  }
}
@media (max-width: 600px) {
  .catalog-grid__description {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 500px) {
  .catalog-grid__description {
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.75rem;
    height: 50px;
  }
}
.catalog-grid__footer {
  display: flex;
  margin-top: 2.8rem;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .catalog-grid__footer {
    flex-direction: column;
    gap: 5%;
    margin-top: 2rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .catalog-grid__footer {
    margin-top: 1.75rem;
  }
}
.catalog-grid__price {
  font-size: 2.4rem;
  margin: 0;
}
@media (max-width: 1500px) {
  .catalog-grid__price {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .catalog-grid__price {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .catalog-grid__price {
    font-size: 1.5rem;
    text-align: center;
  }
}

.delivery {
  padding-bottom: 17.3rem;
}
@media (max-width: 1100px) {
  .delivery {
    padding-bottom: 10rem;
  }
}
@media (max-width: 900px) {
  .delivery {
    padding-bottom: 5rem;
  }
}
@media (max-width: 768px) {
  .delivery {
    padding-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .delivery {
    padding-bottom: 0.6rem;
  }
}
.delivery__link {
  color: #27300f;
}
.delivery__left-block {
  max-width: 605px;
  padding-left: 54px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 900px) {
  .delivery__left-block {
    padding: 0;
  }
}
.delivery__right-block {
  max-width: 508px;
  padding-right: 1.4rem;
}
@media (max-width: 768px) {
  .delivery__right-block {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    max-width: inherit;
  }
}
@media (max-width: 500px) {
  .delivery__right-block {
    padding-top: 1.75rem;
  }
}
@media (max-width: 400px) {
  .delivery__right-block {
    padding-top: 0;
  }
}
.delivery__payment {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin-top: 3rem;
  max-width: 300px;
  gap: 3rem;
}
.delivery__payment-item {
  opacity: 0.4;
  transition: 0.3s;
}
.delivery__payment-item-mastercard {
  display: block;
  width: 55px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/mastercard.svg");
}
@media (max-width: 500px) {
  .delivery__payment-item-mastercard {
    width: 39px;
    height: 48px;
  }
}
.delivery__payment-item-visa {
  display: block;
  width: 75px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/visa.svg");
}
@media (max-width: 500px) {
  .delivery__payment-item-visa {
    width: 54px;
    height: 51px;
  }
}
.delivery__payment-item-paypal {
  display: block;
  width: 86px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/paypal.svg");
}
@media (max-width: 500px) {
  .delivery__payment-item-paypal {
    width: 65px;
    height: 55px;
  }
}
.delivery__payment-item:hover {
  opacity: 1;
  transform: scale(1.1);
}
.delivery__info {
  display: flex;
  padding-top: 7rem;
  justify-content: space-around;
  letter-spacing: 0.07px;
}
@media (max-width: 1200px) {
  .delivery__info {
    gap: 3rem;
  }
}
@media (max-width: 1000px) {
  .delivery__info {
    gap: 2rem;
    padding-top: 3rem;
  }
}
@media (max-width: 768px) {
  .delivery__info {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .delivery__info {
    padding-top: 3.88rem;
  }
}
.delivery__discount {
  color: #d26a22;
}

.contact {
  margin-bottom: 16rem;
}
@media (max-width: 1280px) {
  .contact {
    margin-bottom: 10rem;
  }
}
@media (max-width: 1000px) {
  .contact {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .contact {
    padding-bottom: 7.63rem;
  }
}
.contact-box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .contact-box {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .contact-box {
    flex-direction: column;
    align-items: center;
  }
}
.contact-box__item {
  padding-top: 2.2rem;
}
@media (max-width: 400px) {
  .contact-box__item {
    padding-top: 1rem;
  }
}
.contact-box__text {
  max-width: 400px;
  flex-grow: 1;
  margin: 64px 0 0 120px;
}
@media (max-width: 1280px) {
  .contact-box__text {
    margin: 52px 0 0 64px;
  }
}
@media (max-width: 1200px) {
  .contact-box__text {
    margin: 30px 0 0 50px;
  }
}
@media (max-width: 1000px) {
  .contact-box__text {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .contact-box__text {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .contact-box__text {
    padding-top: 3.13rem;
  }
}
@media (max-width: 400px) {
  .contact-box__text {
    padding-top: 1rem;
  }
}
.contact-box__form {
  flex-basis: 587px;
}
@media (max-width: 500px) {
  .contact-box__form {
    flex-basis: 356px;
  }
}
.contact-box__list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 6rem;
}
@media (max-width: 1200px) {
  .contact-box__list {
    margin-top: 4rem;
  }
}
@media (max-width: 1000px) {
  .contact-box__list {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .contact-box__list {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 400px) {
  .contact-box__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
}
.contact-box__list-item {
  margin-bottom: 2rem;
}
.contact-box__link {
  display: flex;
  gap: 30px;
  font-size: 2.4rem;
  text-decoration: none;
  color: #27300f;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .contact-box__link {
    gap: 10px;
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .contact-box__link {
    font-size: 1.5rem;
    align-items: center;
  }
}
.contact-box__link::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  display: block;
}
@media (max-width: 1000px) {
  .contact-box__link::before {
    width: 20px;
    height: 20px;
  }
}
.contact-box__tel::before {
  background-image: url("../images/phone.svg");
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .contact-box__tel::before {
    background-size: 20px 20px;
  }
}
@media (max-width: 768px) {
  .contact-box__tel::before {
    background-size: 18px 18px;
  }
}
.contact-box__mail::before {
  background-image: url("../images/mail.svg");
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .contact-box__mail::before {
    background-size: 20px 20px;
  }
}
@media (max-width: 768px) {
  .contact-box__mail::before {
    background-size: 18px 18px;
  }
}

.card {
  border: 2px solid rgba(39, 48, 15, 0.4);
  border-radius: 2rem;
  padding: 3.3rem 5.5rem;
}
@media (max-width: 500px) {
  .card {
    padding: 19px 13px 10px 10px;
  }
}
.card__title {
  font-size: 3rem;
  font-family: "Cormorant", serif;
  font-weight: 700;
  margin: 0 0 2.8rem 0;
}
@media (max-width: 500px) {
  .card__title {
    font-size: 2.75rem;
    text-align: center;
  }
}
.card__label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: block;
}
@media (max-width: 500px) {
  .card__label {
    font-size: 1.25rem;
    margin-bottom: 7px;
  }
}
.card__input {
  border: 1px solid rgba(39, 48, 15, 0.4);
  padding: 2.2rem 3rem;
  margin-bottom: 3rem;
  display: block;
  border-radius: 2rem;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .card__input {
    border-radius: 2.5rem;
    padding: 15px 15px 12px 15px;
    margin-bottom: 1.75rem;
  }
}
.card__input:focus {
  border: 1px solid #27300f;
  outline: none;
}
.card__check {
  font-size: 1.2rem;
  color: rgba(39, 48, 15, 0.6);
  line-height: 1.5;
  max-width: 360px;
}
@media (max-width: 500px) {
  .card__check {
    font-size: 1.25rem;
    margin-bottom: 2.25rem;
    text-align: center;
  }
}
.card__link {
  margin-top: 12px;
  padding: 23px 49px 23px 50px;
}
@media (max-width: 500px) {
  .card__link {
    padding: 18px 34px 15px 30px;
    display: flex;
    margin: 28px auto 16px;
  }
}
.card__docs {
  font-size: 1.2rem;
  color: rgba(39, 48, 15, 0.6);
  line-height: 1.5;
}

.footer {
  padding-top: 7.7rem;
  padding-bottom: 6.6rem;
  border-top: 1px solid rgba(39, 48, 15, 0.4);
}
@media (max-width: 500px) {
  .footer {
    padding-top: 3.75rem;
  }
}
.footer__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
@media (max-width: 1200px) {
  .footer__box {
    gap: 2rem;
  }
}
@media (max-width: 900px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .footer__box {
    gap: 1rem;
    margin-bottom: 7px;
  }
}
.footer__info {
  display: flex;
  justify-content: space-between;
  flex-basis: 96rem;
}
@media (max-width: 900px) {
  .footer__info {
    gap: 3rem;
    flex-basis: auto;
  }
}
@media (max-width: 768px) {
  .footer__info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }
}
.footer__list {
  padding-left: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .footer__list_tab {
    display: flex;
    gap: 4rem;
  }
}
@media (max-width: 768px) {
  .footer__list_adress {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.footer__item {
  list-style-type: none;
  margin-bottom: 2.5rem;
}
.footer__link {
  color: #27300f;
  text-decoration: none;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .footer__link {
    font-size: 1.5rem;
  }
}
.footer-social {
  padding-left: 0;
  display: flex;
  gap: 3.3rem;
}
@media (max-width: 500px) {
  .footer-social {
    justify-content: center;
    margin-top: 3.88rem;
  }
}
.footer-social__link {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid rgba(39, 48, 15, 0.8);
  background-repeat: no-repeat;
  background-position: center center;
}
.footer-social__vk {
  background-image: url("../images/vk.svg");
  background-size: 30px 30px;
  opacity: 0.8;
  transition: 0.3s;
}
@media (max-width: 500px) {
  .footer-social__vk {
    background-size: 24px 23px;
  }
}
.footer-social__vk:hover {
  opacity: 1;
}
.footer-social__inst {
  background-image: url("../images/instagram.svg");
  background-size: 20px 20px;
  opacity: 0.8;
  transition: 0.3s;
}
@media (max-width: 500px) {
  .footer-social__inst {
    background-size: 18px 20px;
  }
}
.footer-social__inst:hover {
  opacity: 1;
}
.footer-social__fb {
  background-image: url("../images/facebook.svg");
  background-size: 15px 20px;
  opacity: 0.8;
  transition: 0.3s;
}
@media (max-width: 500px) {
  .footer-social__fb {
    background-size: 17px 19px;
  }
}
.footer-social__fb:hover {
  opacity: 1;
}
.footer-social__item {
  list-style-type: none;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__tel {
  font-size: 2.7rem;
  color: #27300f;
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: 3rem;
  transition: 0.3s;
}
@media (max-width: 500px) {
  .footer__tel {
    font-size: 3.75rem;
    margin-bottom: 4px;
  }
}
.footer__tel:hover {
  color: #d26a22;
}
.footer__mail {
  font-size: 1.8rem;
  color: #27300f;
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  transition: 0.3s;
}
@media (max-width: 500px) {
  .footer__mail {
    font-size: 1.5rem;
    text-align: center;
  }
}
.footer__mail:hover {
  color: #d26a22;
}
.footer__text {
  display: flex;
  justify-content: space-between;
  color: rgba(39, 48, 15, 0.6);
}
@media (max-width: 768px) {
  .footer__text {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .footer__text {
    font-size: 1.25rem;
    padding-top: 10px;
  }
}
.footer__text > p {
  margin: 0;
  line-height: 1.75rem;
}
.footer__author {
  color: rgba(39, 48, 15, 0.6);
  text-decoration: none;
  transition: 0.3s;
}
.footer__author:hover {
  color: #27300f;
}
@media (max-width: 500px) {
  .footer__copy {
    font-size: 1.25rem;
  }
}

@-webkit-keyframes shadow {
  0% {
    box-shadow: 0 0 0 0;
    transform: scale(0.99);
  }
  50% {
    box-shadow: 3px 3px 15px 15px rgba(39, 48, 15, 0.2);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 0;
    transform: scale(0.99);
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0;
    transform: scale(0.99);
  }
  50% {
    box-shadow: 3px 3px 15px 15px rgba(39, 48, 15, 0.2);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 0;
    transform: scale(0.99);
  }
}

/*# sourceMappingURL=main.css.map */
