@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');
$green: #27300f;
$orange:#d26a22;
$white: #fff;

$font-jost:'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}

.header {
    max-width: 1440px;
    margin: 0 auto 4.6rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    gap: 12rem;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link {
        color:$green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        padding-left: 10rem;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        border: 1px solid $orange;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
            cursor: pointer;
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        top: 0.7rem;
        right: .55rem;
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 12.3rem;
    height: 3.2rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 187px;
    overflow-x: hidden;
    z-index: 0;

    &__text {
        padding-top: 18.4rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 3.8rem;
    }

    &__link {
        margin-top: 5.1rem;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__cover {
        flex-basis: 763px;
        height: 763px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__line {
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image_shadow {
        width: 92%;
        border-radius: 100%;
        box-shadow: 1px 6px 20px 0 rgba(39, 48, 15, 0.2);
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                cursor: pointer;
                transition: 0.1s;
            }
        }
        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }

        &_1 {
            top: 43px;
            left: 67px;

            &::before {
                top: 26px;
                left: 83px;
            }
        }

        &_2 {
            top: 192px;
            right: 1px;

            &::before {
                top: 20px;
                right: 89px;
            }
        }

        &_3 {
            bottom: -46px;
            right: 244px;

            &::before {
                bottom: 53px;
                right: 30px;
            }
        }
    }

    &__food {
        display: block;
        color: rgba($green, 0.8);
        line-height: 2.7rem;
    }

    &__cucumber {
        position: absolute;
        top: -50px;
        left: 681px;
        width: 86px;
        height: 92px;
        z-index: -1;
    }

    &__avocado {
        position: absolute;
        top: 43px;
        right: -17px;
        width: 183px;
        height: 194px;
        z-index: -1;
    }

    &__tomato {
        position: absolute;
        bottom: 11.5rem;
        right: 11.1rem;
        width: 11rem;
        z-index: -1;
    }

    &__pepper {
        position: absolute;
        top: 400px;
        left: 28px;
        width: 86px;
        height: 72px;
        z-index: -1;
    }

    &__beans {
        position: absolute;
        bottom: 166px;
        left: 0;
        width: 93px;
        height: 113px;
    }
}

.title {
        font-family: $font-cormorant;
        font-weight: 700;
        font-size: 8rem;
        margin: 0;

        &__span {
            font-style: italic;
        }

        &_block {
            .title__span {
                display: block;
                line-height: 7rem;
            }
        }
    }

.description {
    line-height: 1.5;
    margin: 0;
        &_size-s {
            font-size: 1.8rem;
        }
        &_size-m {
            font-size: 2.4rem;
        }
    }

.link {
        color: $white;
        text-transform: uppercase;
        padding: 2.4rem 4.2rem;
        background-color: $orange;
        box-shadow: 0 0.9rem 1rem 0.3rem rgb(207 92 13 / 20%);
        text-decoration: none;
        border-radius: 3.9rem;
        display: inline-block;
        letter-spacing: .13rem;
    }

.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 1.2rem;
    padding-bottom: 12.8rem;
    &__text {
        margin-top: 6.1rem;
        max-width: 70rem;
    }
    &__slider {
        overflow: hidden;
        padding-top: 100px;
    }
}
.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba(39, 48, 15, 0.4);
        height: 518px;
        padding: 4rem 3.7rem;
        border-radius: 2rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        &:hover {
            box-shadow: 0 0 0 2px rgba(39, 48, 15, 0.4) inset;
            cursor: pointer;
            .swiper-slide__hover{
                height: 233px;
                opacity: 1;
                transition: .4s;
            }
            &::after {
                content: '';
                background-color: rgba($white, 0.55);
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                position: absolute;
                top: 2px;
                left: 2px;
                border-radius: 2rem;
                z-index: -1;
            }
        }
        &-1 {
            background-image: url("../images/bottle-milk.png");
        }
        &-2 {
            background-image: url("../images/pasta.png");
        }
        &-3 {
            background-image: url("../images/steaks.png");
        }
        &-4 {
            background-image: url("../images/milk.png");
        }
        &-5 {
            background-image: url("../images/egg.png");
        }
        &-6 {
            background-image: url("../images/cheese.png");
        }
        &-7 {
            background-image: url("../images/yogurt-bluberry.png");
        }
        &-8 {
            background-image: url("../images/cottage-cheese.png");
        }
        &-9 {
            background-image: url("../images/mocarela.png");
        }
        &__title {
            font-family: $font-cormorant;
            font-weight: 700;
            font-size: 3rem;
            color: $green;
            margin-bottom: 0;
        }
        &__hover {
            height: 0;
            opacity: 0;
        }
        &__text {
            color: rgba($green, 0.7);
            line-height: 1.5;
            max-width: 263px;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
        }
        &__link {
            text-decoration: none;
            color: $green;
            opacity: .8;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 16px;
            display: flex;
            gap: 2rem;
            align-items: center;
            &:hover {
                opacity: 1;
            }
            &::before{
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url("../images/plus.svg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    &-pagination {
        display: none;
    }
    &-button-prev, &-button-next {
        top: -10%;
        opacity: 40%;
        &:hover {
            opacity: 100%;
        }
        &::after {
            display: none;
        }
    }
    &-button-prev {
        left: initial;
        background-image: url("../images/arrow-prev.svg");
        background-repeat: no-repeat;
        display: block;
        width: 20px;
        height: 20px;
        right: 72px;
    }
    &-button-next{
        background-image: url("../images/arrow-next.svg");
        background-repeat: no-repeat;
        display: block;
        width: 20px;
        height: 20px;
        right: -9px;
    }
}

.about {
    padding-bottom: 20rem;
    padding-top: 3.1rem;

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        padding-top: 9.5rem;
        max-width: 60rem;
    }

    &__list {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        gap: 10rem;
        font-family: "Cormorant", serif;
        font-size: 2.4rem;
        font-style: italic;
        font-weight: 500;
    }
    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        &_health {
            &::before {
                content: '';
                background-image: url("../images/fruits.svg");
                display: block;
                width: 85px;
                height: 85px;
                border: 1px solid $green;
                border-radius: 100%;
            }
        }
        &_traditions {
            background-image: url("../images/traditional.svg");
            &::before {
                content: '';
                width: 85px;
                height: 85px;
                border: 1px solid $green;
                border-radius: 100%;
                background-image: url("../images/traditional.svg");
                background-position: center;
            }
        }
        &_goods {
            background-image: url("../images/good.svg");
            &::before {
                content: '';
                width: 85px;
                height: 85px;
                border: 1px solid $green;
                border-radius: 100%;
                background-image: url("../images/good.svg");
                background-position: center;
            }
        }
    }
}





