@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');
$green: #27300f;
$orange:#d26a22;
$white: #fff;

$font-jost:'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}

.header {
    max-width: 1440px;
    margin: 0 auto 4.6rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    gap: 12rem;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link {
        color:$green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        padding-left: 10rem;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        border: 1px solid $orange;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
            cursor: pointer;
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        top: 0.7rem;
        right: .55rem;
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12.3rem;
    height: 3.2rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 187px;
    overflow-x: hidden;
    z-index: 0;

    &__text {
        padding-top: 18.4rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 3.8rem;
    }

    &__link {
        margin-top: 5.1rem;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__cover {
        flex-basis: 763px;
        height: 763px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__line {
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image_shadow {
        width: 92%;
        border-radius: 100%;
        box-shadow: 1px 6px 20px 0 rgba(39, 48, 15, 0.2);
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                cursor: pointer;
                transition: 0.1s;
            }
        }
        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }

        &_1 {
            top: 43px;
            left: 67px;

            &::before {
                top: 26px;
                left: 83px;
            }
        }

        &_2 {
            top: 192px;
            right: 1px;

            &::before {
                top: 20px;
                right: 89px;
            }
        }

        &_3 {
            bottom: -46px;
            right: 244px;

            &::before {
                bottom: 53px;
                right: 30px;
            }
        }
    }

    &__food {
        display: block;
        color: rgba($green, 0.8);
        line-height: 2.7rem;
    }

    &__cucumber {
        position: absolute;
        top: -50px;
        left: 681px;
        width: 86px;
        height: 92px;
        z-index: -1;
    }

    &__avocado {
        position: absolute;
        top: 43px;
        right: -17px;
        width: 183px;
        height: 194px;
        z-index: -1;
    }

    &__tomato {
        position: absolute;
        bottom: 11.5rem;
        right: 11.1rem;
        width: 11rem;
        z-index: -1;
    }

    &__pepper {
        position: absolute;
        top: 400px;
        left: 28px;
        width: 86px;
        height: 72px;
        z-index: -1;
    }

    &__beans {
        position: absolute;
        bottom: 166px;
        left: 0;
        width: 93px;
        height: 113px;
    }
}

.title {
        font-family: $font-cormorant;
        font-weight: 700;
        font-size: 8rem;
        margin: 0;

        &__span {
            font-style: italic;
        }

        &_block {
            .title__span {
                display: block;
                line-height: 7rem;
            }
        }
    }

.description {
    line-height: 1.5;
    margin: 0;
        &_size-s {
            font-size: 1.8rem;
        }
        &_size-m {
            font-size: 2.4rem;
        }
    }

.link {
        color: $white;
        text-transform: uppercase;
        padding: 2.4rem 4.2rem;
        background-color: $orange;
        box-shadow: 0 0.9rem 1rem 0.3rem ($orange, 20%);
        text-decoration: none;
        border-radius: 3.9rem;
        display: inline-block;
        letter-spacing: .13rem;
    &_min {
        letter-spacing: 0.08rem;
        padding: 18px 34px;
        font-size: 1.4rem;
        box-shadow: 0 10px 11.31px 1.69px ($orange, 0.15)
    }
    &_max {
        padding: 2.4rem 5.2rem;
    }
    }

.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 1.2rem;
    padding-bottom: 12.8rem;
    &__text {
        margin-top: 6.1rem;
        max-width: 70rem;
    }
}

.slider {
    overflow: hidden;
    padding-top: 100px;
}

.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba(39, 48, 15, 0.4);
        padding: 4rem 3.7rem;
        border-radius: 2rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        &_white {
            height: 518px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            &:hover {
                .swiper-slide__hover{
                    height: 233px;
                    opacity: 1;
                    transition: .4s;
                }
                &::after {
                    content: '';
                    background-color: rgba($white, 0.55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 0 2px rgba(39, 48, 15, 0.4) inset;
        }
        &-1 {
            background-image: url("../images/bottle-milk.png");
        }
        &-2 {
            background-image: url("../images/pasta.png");
        }
        &-3 {
            background-image: url("../images/steaks.png");
        }
        &-4 {
            background-image: url("../images/bottle-milk.png");
        }
        &-5 {
            background-image: url("../images/catalog/egg.png");
        }
        &-6 {
            background-image: url("../images/catalog/cheese.png");
        }
        &-7 {
            background-image: url("../images/catalog/yogurt-bluberry.png");
        }
        &-8 {
            background-image: url("../images/catalog/cottage-cheese.png");
        }
        &-9 {
            background-image: url("../images/catalog/mocarela.png");
        }
        &__description {
            min-height: 50px;
            max-width: 297px;
            line-height: 2.5rem;
            letter-spacing: .05rem;
        }
        &__price {
            font-size: 2.4rem;
            margin-bottom: 3.4rem;
        }
        &__title {
            font-family: $font-cormorant;
            font-weight: 700;
            font-size: 3rem;
            color: $green;
            margin-bottom: 0;
        }
        &__hover {
            height: 0;
            opacity: 0;
        }
        &__text {
            color: rgba($green, 0.7);
            line-height: 1.5;
            max-width: 263px;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
        }
        &__link {
            text-decoration: none;
            color: $green;
            opacity: .8;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 16px;
            display: flex;
            gap: 2rem;
            align-items: center;
            &:hover {
                opacity: 1;
            }
            &::before{
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url("../images/plus.svg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 320px;
            text-align: center;
        }
        &__image {
            height: 100%;
            width: 100%;
            max-width: 351px;
            object-fit: contain;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-pagination {
        display: none;
    }
    &-button-prev, &-button-next {
        top: -7%;
        opacity: 40%;
        &:hover {
            opacity: 100%;
        }
        &::after {
            display: none;
        }
    }
    &-button-prev {
        left: initial;
        background-image: url("../images/arrow-prev.svg");
        background-repeat: no-repeat;
        display: block;
        width: 20px;
        height: 20px;
        right: 72px;
    }
    &-button-next{
        background-image: url("../images/arrow-next.svg");
        background-repeat: no-repeat;
        display: block;
        width: 20px;
        height: 20px;
        right: -9px;
    }
}

.counter {
    display: flex;
    align-items: center;
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        border-radius: 100%;
        background-color: transparent;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center center;
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus {
        pointer-events: none;
        border: 1px solid $green;
        background-image: url("../images/minus-counter.svg");
        background-size: 14px 14px;
        opacity: .4;
        font-size: 2.4rem;
    }
    &__plus {
        background-image: url("../images/plus-counter.svg");
        background-size: 14px 14px;
    }
    &__input {
        text-align: center;
        width: 46px;
        border: none;
        padding: 0;
        &_min {
            width: 3.3rem;
        }
    }
}

.about {
    padding-bottom: 19rem;
    padding-top: 3.1rem;

    &__box {
        display: flex;
        justify-content: flex-end;
        gap: 26rem;
        margin-top: 1rem;
    }

    &__text {
        padding-top: 9rem;
        max-width: 60rem;
    }

    &__list {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        //gap: 9.5rem;
        align-items: flex-end;
        font-family: $font-cormorant;
        font-size: 3rem;
        font-style: italic;
        font-weight: 700;
        margin: 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        &::before {
            content: '';
            display: block;
            width: 85px;
            height: 85px;
            border: 1px solid rgba($green, .4);
            border-radius: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            margin-bottom: 1.7rem;
        }
        &_health {
            &::before {
                background-image: url("../images/fruits.svg");
                background-size: 43px 45px;
            }
        }
        &_traditions {
            margin-left: 9rem;
            &::before {
                background-image: url("../images/traditional.svg");
                background-size: 40px 40px;
            }
        }
        &_goods {
            margin-left: 7.1rem;
            &::before {
                background-image: url("../images/good.svg");
                background-size: 46px 46px;
            }
        }
    }
}

.trends {
    margin-bottom: 18.3rem;
    &__text {
        padding-top: 3rem;
    }
    &__slider {
        padding-top: 84px;
    }
}

.category {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 8.8rem;
    margin-bottom: 5rem;
    &__item {
        flex-basis: 230px;
        text-align: center;
    }
    &__link {
        color: $green;
        text-decoration: none;
        border: 1px solid rgba($green, .5);
        padding: 2.4rem 0;
        border-radius: 4rem;
        display: block;
        font-size: 1.8rem;
        &:hover {
            border: 1px solid rgba($orange, .5);
            color: $orange;
        }
    }
}

.catalog__btn {
    color: rgba($green, .8);
    border: none;
    background-color: transparent;
    display: flex;
    gap: 2rem;
    letter-spacing: 1px;
    margin: 6rem auto 13.6rem;
    text-transform: uppercase;
    align-items: center;
    &::before{
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        background-image: url("../images/refresh.svg");
        opacity: 0.8;
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    &__item {
        border: 1px solid rgba($green, .4);
        border-radius: 4%;
        padding: 30px 30px 40px 30px;
    }
    &__cover {
        height: 22rem;
        width: 22rem;
        text-align: center;
        margin: 0 auto;
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    &__title {
        font-size: 3rem;
        font-family: $font-cormorant;
        font-weight: 700;
        margin: 0;
    }
    &__description {
        color: rgba(39, 48, 15, 0.7);
        max-width: 242px;
        line-height: 2.3rem;
    }
    &__footer {
        display: flex;
        margin-top: 28px;
        justify-content: space-between;
    }
    &__price {
        font-size: 24px;
        margin: 0;
    }
}

.delivery {
    &__payment {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        &-item {
            opacity: 0.4;
            &-mastercard {
                display: block;
                width: 80px;
                height: 80px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url("../images/mastercard.svg");
            }
            &-visa {
                display: block;
                width: 80px;
                height: 80px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url("../images/visa.svg");
            }
            &-paypal {
                display: block;
                width: 80px;
                height: 80px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url("../images/paypal.svg");
            }
            &:hover {
                opacity: 1;
            }
        }

    }
    &__info {
        display: flex;
    }
}
